:root {
    --color-human: #0092ca;
    --color-computer: #d65a31;
    --color-console: #00ff00;
    --color1: #222831;
    --color2: #393e46;
    --color3: #eeeeee;
}

body {
    background-color: var(--color1);
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin: auto;
    display: flex;
    gap: 100px;
}

#console {
    width: 50vh;
    height: 80vh;
    padding: 2vh;
    color: var(--color-console);
    background-color: var(--color1);
    border: 2px solid var(--color-console);
    border-radius: 5px;
    overflow-y: scroll;
    white-space: pre-wrap;
    scrollbar-color: var(--color-console) var(--color2);
}

#game {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#board {
    width: 60vh;
    height: 60vh;
    background-color: var(--color1);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#board > div:not(#blur) {
    padding-top: 5vh;
    color: var(--color-console);
    font-size: 12.5vh;
    text-align: center;
}

#button-start {
    padding: 5vh 10vh;
}

#button-start > img {
    width: 10vh;
    height: 10vh;
}

.cell {
    background-color: var(--color1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    margin: auto;
    width: 12.5vh;
    height: 12.5vh;
}

.X, .O, #button-restart {
    background: none;
    border: none;
}

.X {
    background-image: url("icons/X.svg");
    background-size: cover;
    filter: invert(44%) sepia(57%) saturate(5312%) hue-rotate(172deg) brightness(96%) contrast(101%);
}


.O {
    background-image: url("icons/O.svg");
    background-size: cover;
    filter: invert(39%) sepia(98%) saturate(1002%) hue-rotate(343deg) brightness(89%) contrast(87%);
}

#scores {
    height: 15vh;
    border: 2px solid var(--color-console);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
}

#scores > div {
    padding-top: 2vh;
    padding-bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.score {
    width: 7vh;
    height: 7vh;
    background-size: cover;
}

.score + div {
    color: var(--color-console);
    font-size: 4vh;
}

#score-human > .score {
    background-image: url("icons/human.svg");
    filter: invert(44%) sepia(57%) saturate(5312%) hue-rotate(172deg) brightness(50%) contrast(101%);
}

#score-human > .score:hover {
    filter: invert(44%) sepia(57%) saturate(5312%) hue-rotate(172deg) brightness(100%) contrast(101%);
}

#score-ties > .score {
    background-image: url("icons/ties.svg");
    filter: invert(99%) sepia(87%) saturate(79%) hue-rotate(205deg) brightness(114%) contrast(87%);
}

#score-computer > .score {
    background-image: url("icons/computer.svg");
    filter: invert(39%) sepia(98%) saturate(1002%) hue-rotate(343deg) brightness(50%) contrast(87%);
}

#score-computer > .score:hover {
    filter: invert(39%) sepia(98%) saturate(1002%) hue-rotate(343deg) brightness(100%) contrast(87%);
}

#blur {
    position: absolute;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#button-restart {
    width: 50vh;
    height: 50vh;
    background-image: url("icons/restart.svg");
    background-size: cover;
    filter: invert(69%) sepia(81%) saturate(4164%) hue-rotate(83deg) brightness(111%) contrast(131%);
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--color-console);
}

a {
    text-decoration: none;
    font-weight: 600;
}

a:link {
    color: var(--color3);
}

a:hover {
    color: var(--color-console);
}